* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{
    min-height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Images/tsu-campus.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 150px;
}

.nav-items {
    flex: 1;
    text-align: right;
}

.nav-items ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-items ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-items ul li span {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-items ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-items ul li:hover::after {
    width: 100%;
}

#text-box {
    justify-content: center;
    padding-top: 150px;
}

#page-header h1 {
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

#page-header p {
    width: 100%;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

/* Styles for the search box */


#search-body {
    margin-top: 20px;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #07070715;
    border-radius: 15px;
    cursor: text;
    -webkit-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.085);
    -moz-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.061);
}

.search-container input {
    width: 50%;
    height: 100%;

    padding: 15px;

    font-size: 17px;
    color: black;
    border: none;
    border-radius: 20px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.search-container .home-img {
    position: absolute;
    top: 50%;
    right: 380px;
    transform: translateY(-50%);
}

#search-body a button {
    display: block;
    margin: 10px auto;
    padding: 20px 30px;
    background-color: #00539f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    
#body-content {
    display: flex;
    flex-direction: column;
    gap: 150px;

    padding-left: 150px;
    padding-right: 150px;
}

#second-row {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#second-row-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 30px;
    color: #00539f;
}

#subrow-header {
    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 200px;
    padding-bottom: 100px;
}

#subrow-header a {
    text-decoration: none;

    color: #00539f;
    font-size: 15px;
}

#subrow-header a:hover {
    color: #008d95;
}


#sub-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    text-align: center;
}

#sub-image img{
    height: 200px;
    width: 200px;
    
}

#body-content{
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

#row-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#bc-ro-information {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#bc-ro-information h6{
    color: #00539f;
    font-size: 35px;
}

#bc-ro-information p {
    font-size: 20px;

    color: rgba(0, 0, 0, 0.715);

    line-height: 35px;
}

#bc-ro-img {
    width: 50%;
    padding: 30px;
}

#bc-ro-img img{
    width: 100%;
    border-radius: 20px;
}

#row-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
}

#bc-rt-information {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}

#bc-rt-information h6{
    color: #00539f;
    font-size: 35px;
}

#bc-rt-information p {
    font-size: 20px;

    color: rgba(0, 0, 0, 0.715);

    line-height: 35px;
    font-weight: lighter;
}

#bc-rt-img {
    width: 50%;
}

#bc-rt-img img{
    width: 100%;
    border-radius: 20px;
}

#container-art2 {
    width: 100%;
    max-width: 100vw;
    color: white;
    padding-top: 80px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#row-three {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#bc-metric-information-header h6 {
    font-family: Wanted-SemiBold;
    text-decoration: underline;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
}

#row-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 65px;
}

#bc-metric-information h5 {
    font-size: 30px;
    color: #008d95;
    line-height: 35px;
}

#bcmi-p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.715);
    line-height: 35px;
}

#bc-metric-information h5 {
    font-size: 30px;
    color: #008d95;
    line-height: 35px;
}

#container-art3 {
    width: 100%;
    max-width: 100vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    padding-top: 40px;
    padding-bottom: 10px;

    align-items: center;
    text-align: center;

    display: flex;
    justify-content: start;
}

#founders-heading {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#founders-header h3 {
    font-size: 60px;
    width: 100%;
    text-align: center;
}

#container-art4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#row-five {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.founder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.founders-image img {
    width: 350px;
    border-radius: 10%;
}

.founders-text {
    padding-top: 20px;
    max-width: 250px; 
}

.founders-text h6 {
    font-size: 30px;
    color: #008d95;
    line-height: 35px;
}

.founders-text h1 {
    font-size: 22px;
}

#container {
    padding-top: 10px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#feedback-form {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.145);
    border-radius: 20px;

    -webkit-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.16);

    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#feedback-form-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-family: Wanted-Bold;
    font-size: 20px;
}

/** Form Input Fields **/
.form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-input span {
    color: red;
    font-size: 20px;
}

.form-input label {
    font-size: 17px;
}

.form-input input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.193);
}

.form-input textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    font-size: 15px;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.193);
}

#feedback-form form {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    gap: 15px;
}

.submit-row {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.submit-row button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 70%;

    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    background-color: #00539f;

    color: white;
    font-size: 20px;
}





















/** Footer Content **/
#footer {
    width: 100%;
    max-width: 100vw;
    -webkit-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.085);
    -moz-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.061);
    border-top: 1px solid rgba(0, 0, 0, 0.096);
}

#footer-logo {
    width: 100%;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.207);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#footer-logo a {
    color: black;

    text-decoration: none;
    font-size: 60px;
}

#footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    background-color: rgb(12, 12, 12);

    padding-left: 25rem;
    padding-right: 25rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#the-company ul,
#the-partners ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#the-company ul h5,
#the-partners ul h5 {
    font-size: 20px;
    color: #00539f;
}

#the-company ul li a,
#the-partners ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#the-company ul li a:hover,
#the-partners ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #008d95;
}

#footer-bottom {
    background-color: #000000;
    color: white;
    width: 100%;

    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;

}



#footer-bottom #social-icons {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#social-icons div {
    border: 1px solid white;
    border-radius: 50%;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;



    background-color: white;
}

#social-icons div a {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}


#copyright-section p a {
    text-decoration: none;
    color: white;
}

#copyright-section p a:hover {
    color: #008d95;
}