* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{
    min-height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Images/tsu-campus.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 150px;
}

.nav-items {
    flex: 1;
    text-align: right;
}

.nav-items ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-items ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-items ul li span {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-items ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-items ul li:hover::after {
    width: 100%;
}

#text-box {
    justify-content: center;
    padding-top: 150px;
}

#page-header h1 {
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

#page-header p {
    width: 100%;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

/* Styles for the search box */


#search-body {
    margin-top: 20px;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #07070715;
    border-radius: 15px;
    cursor: text;
    -webkit-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.085);
    -moz-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.061);
}

.search-container input {
    width: 50%;
    height: 100%;

    padding: 15px;

    font-size: 17px;
    color: black;
    border: none;
    border-radius: 20px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.search-container .home-img {
    position: absolute;
    top: 55%;
    right: 370px;
    transform: translateY(-50%);
}

#search-body a button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #00539f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    
#body-content {
    display: flex;
    flex-direction: column;
    gap: 150px;

    padding-left: 150px;
    padding-right: 150px;
}

#second-row {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#second-row-header {
    font-family: Wanted-Bold;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 30px;
    color: #00539f;
}

#subrow-header {
    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 200px;
    padding-bottom: 100px;
}

#subrow-header a {
    text-decoration: none;

    color: #00539f;
    font-size: 15px;
    font-family: Wanted-Regular;
}

#subrow-header a:hover {
    color: #008d95;
}


#sub-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    text-align: center;
}

#sub-image img{
    height: 200px;
    width: 200px;
    
}





















/** Footer Content **/
#footer {
    width: 100%;
    max-width: 100vw;
    -webkit-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.085);
    -moz-box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 3px 21px 4px rgba(0, 0, 0, 0.061);
    border-top: 1px solid rgba(0, 0, 0, 0.096);
}

#footer-logo {
    width: 100%;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.207);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#footer-logo a {
    color: black;

    text-decoration: none;
    font-size: 60px;
}

#footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    background-color: rgb(12, 12, 12);

    padding-left: 25rem;
    padding-right: 25rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#the-company ul,
#the-partners ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#the-company ul h5,
#the-partners ul h5 {
    font-size: 20px;
    color: #00539f;
}

#the-company ul li a,
#the-partners ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#the-company ul li a:hover,
#the-partners ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #008d95;
}

#footer-bottom {
    background-color: #000000;
    color: white;
    width: 100%;

    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;

}



#footer-bottom #social-icons {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#social-icons div {
    border: 1px solid white;
    border-radius: 50%;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;



    background-color: white;
}

#social-icons div a {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}


#copyright-section p a {
    text-decoration: none;
    color: white;
}

#copyright-section p a:hover {
    color: #008d95;
}