* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

header {
    background-color: white;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: none;

    width: 100%;

    padding-left: 50px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 0;

    z-index: 1001;
}

.logo-section a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 30px;
}

#logo-menu {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    align-items: center;
}

#logo img {
    width: 200px;
}
    


#page-name a {
    color: black;

    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

nav ul li a,
nav ul li span {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: solid underline 1px;
}

/** Login Container **/

.tiger-logo img {
    width: 200px;
}
#loginCardContainer {
    /** Centering the card in the middle of the page **/
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    /** Making elements be displayed in rows. **/
    row-gap: 20px;
    /** Adding a gap between elements horizontally. **/

    /** Taking up full page width and height. **/
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;

    overflow-y: auto;
}

/** Login Card Elements **/
#loginCard {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;

    width: 30%;

    /** Card Padding **/
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;

    /** Card Border Elements **/
    border: 1px solid rgba(130, 130, 130, 0.094);
    border-radius: 20px;

    /** Card Shadowing **/
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

#loginCard #heading {
    color: black;

    font-size: 25px;

    display: flex;
    justify-content: center;
    text-align: center;

    flex-direction: column;

    width: 100%;
}

#loginCard form {
    display: flex;
    flex-direction: column;

    row-gap: 40px;
}

#sectionName {
    font-size: 14px;
}



/** Card Elements **/
#contentElements {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 15px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    translate: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 25px 0 6px;
    margin-top: 10px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 67px;
}

#forgot {
    width: 100%;
    display: flex;
    justify-content: end;
}

#forgot h6, #forgot a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

#forgot a:hover {
    color:rgb(86, 85, 85);
}


/** Log In Button **/
#controlledElements {
    width: 100%;

    display: flex;
    justify-content: center;
}

#controlledElements button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #00539f;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
}



/** Don't have an account? **/
#joinLink {
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 30%;
    

    display: flex;

}

#joinLink h6 {
    color: black;

    text-align: center;
    width: 100%;

    /** Font Settings **/
    font-size: 15px;
}

#joinLink a {
    color: black;
    text-decoration: solid underline 1px;
}

#joinLink a:hover {
    text-decoration: double underline 1px;
}